# Global ignores
.env
*.log
*.tmp
*.swp

# Go
/backend/bin/
/backend/pkg/
/backend/db/gen/
/backend/api/gen/
/backend/.air.toml
/backend/coverage.out

# Python
/processing/__pycache__/
/processing/*.pyc
/processing/venv/
/processing/.ipynb_checkpoints/

# C++
/charts/build/
/charts/bin/
/charts/*.o


# VSCode / JetBrains
.vscode/
.idea/


# Docker
**/pgdata/
docker-compose.override.yml
